body{
    background-color:rgb(143, 141, 141);
}

h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color:white;
    margin-top: 70px;
    margin-bottom: 3px;
}

h2{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: white;
}

p{
    font-size: 25px;
    color: white;
    margin-top: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 200px;
    margin-right: 200px;
    border: solid 8px white;
    padding: 90px;
    box-shadow: 8px 8px 8px black;
}
.texto{
    text-align: center;
}

h4{
    text-align: right;
    margin-right: 150px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 1px;
}